:root{
    --color-car: #FDCC0E;
    --color-glass: rgb(176, 229, 255);
    --color-border: #F7AB06;
    --color-pipe: #38181b;
    --color-pipe-light: #796869;
    --color-gas: white;
}

/* .container-animation{
    position: relative;
    margin:0 auto;
    height: 400px;
    width: 600px;
    background-color: #666;
    overflow: hidden;
    border-radius: 20px;
} */

.car{
    top:25%;
    left: -350px;
    position: relative;
    height: 220px;
    width: 300px;
    /* background-color: rgb(212, 201, 151); */
    animation: 1.58s linear 0s 1 normal paused forwards car-move;
}

.label{
    position: absolute;
    top: 20px;
    left: 30px;
    font-family: sans-serif;
    font-size: 65px;
    color: white;
    z-index: 2;
}

.car__pipe{
    position: absolute;
    left: -8px;
    bottom: 40px;
    height: 10px;
    width: 15px;
    border-radius: 5px;
    overflow: hidden;
    background-color: var(--color-pipe);
}

.car__pipe-light{
    position: absolute;
    bottom: 6px;
    height: 10px;
    width: 15px;
    border-radius: 5px;
    background-color: var(--color-pipe-light);
}

@keyframes car-move{
    0%{transform: translateX(0);}
    100%{transform: translateX(500px);}
}

/* -------------------------------------gas-------------------------------------------- */

.gas{
    height: 5px;
    width: 5px;
    border-radius: 50%;
    background-color: var(--color-gas);
}

.gas1,
.gas2,
.gas3,
.gas4,
.gas5{
    position: absolute;
    left: -7px;
    bottom: 43px;
}

.gas1{
    animation: 1.1s ease-out 0s infinite normal paused gas-move;
}

.gas2{
    animation: 0.9s ease-out 1s infinite normal paused gas-move;

}

.gas3{
    animation: 1.3s ease-out .5s infinite normal paused gas-move;
}

.gas4{
    animation: 0.6s ease-out 2.0s infinite normal paused gas-move;
}

.gas5{
    animation: 0.3s ease-out 1.15s infinite normal paused gas-move;
}

@keyframes gas-move{
    1%{
        /* transform: scale(1, 1); */
        transform: translate(0px) scale(1, 1);
        opacity: 1;
    }
    100%{
        /* transform: scale(3, 3); */
        transform: translate(-50px, -5px) scale(3, 3);
        opacity: 0;
    }
}

/* ------------------------------------------body car ----------------------------------------------- */

.car__body{
    position: relative;
    top: 0;
    height: 200px;
    width: 300px;
    overflow: hidden;
}

.car__body-part1,
.car__body-part2,
.car__body-part3,
.car__body-part4,
.car__body-part5,
.car__body-part6{
    position: absolute;
    background-color: var(--color-car);
}

.car__body-part1{
    bottom: 0;
    left: 0;

    height: 110px;
    width: 120px;
    border-radius: 50% 50% 20% 20%;
    overflow: hidden;
}


.car__body-back-light{
    position: absolute;
    left: -15px;
    top: 30px;
    height: 30px;
    width: 30px;
    border-radius: 10px;
    background-color: #FB7A38;
}

.car__body-part2{
    top: 0;
    left: 25px;
    
    height: 350px;
    width: 230px;
    border-radius: 48% ;
}

.car__body-part3{
    bottom: 0;
    right: 0;

    height: 110px;
    width: 120px;
    border-radius: 50% 50% 20% 20%;
    overflow: hidden;
}

.car__body-front-light{
    position: absolute;
    right: -10px;
    top: 20px;
    height: 30px;
    width: 30px;
    border-radius: 10px;
    background-color: #FFD861;
    transform: rotate(-30deg);
}

.car__body-part4,
.car__body-part5{
    top: 159px;
    height: 82px;
    width: 82px;
    border-radius: 50%;
    background-color: #666;
    z-index: 10;
}

.car__body-part4{
    right: 20px;
}

.car__body-part5{
    left: 20px;
}

.car__body-part6{
    bottom: 0;
    left: 2px;
    
    height: 12px;
    width: 295px;
    border-radius: 2px;
    background-color: var(--color-border);
}

/* ------------------------------------ car left dor ----------------------------------------------- */

.car__left-door{
    position: absolute;
    top: 0;
    left: 35px;
    height: 180px;
    width: 100px;
    /* background-color: rgba(102, 102, 102, 0.807); */
    overflow: hidden;
}

.car__left-door-border1,
.car__left-door-border2,
.car__left-door-border3{
    position: absolute;
    background-color: var(--color-border);
}

.car__left-door-border1{
    top: 10px;
    right: -90px;
    width: 170px;
    height: 180px;
    border-radius: 48%;
}

.car__left-door-border2{
    bottom: 0px;
    right: 0px;
    width: 80px;
    height: 70px;
    border-radius:5%;
}

.car__left-door-border3{
    bottom: -72px;
    right: 21px;
    height: 105px;
    width: 105px;
    border-radius: 50%;
    background-color: var(--color-car);
}

/* ----- left door glass ----- */

.car__left-door-glass{
    position: absolute;
    top: 0;
    right: 5px;
    height: 176px;
    width: 75px;
    overflow: hidden;
}

.car__left-door-glass1{
    position: absolute;
    top: 15px;
    right: -90px;
    width: 160px;
    height: 167px;
    border-radius: 48%;
    background-color: var(--color-glass);
}

.car__left-door-glass2{
    position: absolute;
    bottom: 0px;
    right: 0px;
    width: 70px;
    height: 80px;
    background-color: var(--color-car);
}

.car__left-door-glass3{
    position: absolute;
    bottom: -73px;
    right: 10.5px;
    width: 103px;
    height: 103px;
    border-radius: 50%;
    border: 5px solid var(--color-border);
}

.car__left-door-glass4{
    position: absolute;
    bottom: 76px;
    width: 130px;
    height: 5px;
    background-color: var(--color-border);
}

.car__left-doоr-handle{
    position: absolute;
    bottom: 65px;
    right: 10px;
    width: 25px;
    height: 10px;
    border-radius: 30%;
    background-color: var(--color-border);
}

/* ------------------------------------------------- right door --------------------------------------------- */

.car__right-door{
    position: absolute;
    top: 0;
    right: 75px;
    height: 180px;
    width: 81px;
    /* background-color: rgba(102, 102, 102, 0.2); */
    overflow: hidden;
}

.car__right-door-border1,
.car__right-door-border2,
.car__right-door-border3,
.car__right-door-border4{
    position: absolute;
    background-color: var(--color-border);
}

.car__right-door-border1{
    top: 10px;
    left: -90px;
    width: 170px;
    height: 180px;
    border-radius: 48%;
}

.car__right-door-border2{
    bottom: 0px;
    left: 0px;
    width: 80px;
    height: 85px;
    border-radius:5%;
}

.car__right-door-border3{
    bottom: -72px;
    left: 43px;
    height: 105px;
    width: 105px;
    border-radius: 50%;
    background-color: var(--color-car);
}

.car__right-door-border4{
    left: 0px;
    bottom: 0;
    height: 170px;
    width: 5px;
    background-color: var(--color-border);
}

/* ----- right door glass ----- */

.car__right-door-glass{
    position: absolute;
    top: 0;
    right: 5px;
    height: 176px;
    width: 75px;
    overflow: hidden;
}

.car__right-door-glass1{
    position: absolute;
    top: 15px;
    left: -85px;
    width: 159px;
    height: 167px;
    border-radius: 48%;
    background-color: var(--color-glass);
}

.car__right-door-light1{
    position: absolute;
    right: 25px;
    top: 20px;
    transform: rotate(-45deg);

    height: 15px;
    width: 5px;
    border-radius: 3px;
    background-color: white;
}

.car__right-door-light2{
    position: absolute;
    right: 40px;
    top: 15px;
    transform: rotate(-45deg);

    height: 5px;
    width: 5px;
    border-radius: 3px;
    background-color: white;
}

.car__right-door-glass2{
    position: absolute;
    bottom: 0px;
    left: 0px;
    width: 74px;
    height: 80px;
    background-color: var(--color-car);
}

.car__right-door-glass3{
    position: absolute;
    bottom: -72px;
    left: 37px;
    width: 103px;
    height: 103px;
    border-radius: 50%;
    border: 5px solid var(--color-border);
}

.car__right-door-glass4{
    position: absolute;
    bottom: 76px;
    width: 130px;
    height: 5px;
    background-color: var(--color-border);
}

.car__right-doоr-handle{
    position: absolute;
    bottom: 65px;
    left: 10px;
    width: 25px;
    height: 10px;
    border-radius: 30%;
    background-color: var(--color-border);
}

/* ---------------------------------------- car__mirrors -------------------------------------- */

.car__mirrors{
    position: absolute;
    right: 62px;
    bottom: 115px;
    height: 30px;
    width: 35px;
    border-radius: 5px 14px 14px 5px;
    background-color: var(--color-border);
    overflow: hidden;
}

.car__mirrors-light{
    position: absolute;
    right: 2px;
    bottom: 6px;
    height: 30px;
    width: 35px;
    border-radius: 5px 13px 13px 5px;
    background-color: #FFD861;
}
