:root{
    --color-asphalt: #7B7F7C;
    --color-asphalt-border: #acb3ae;
    --color-asphalt-border-light: #e5ede8;
}

.road{
    position: absolute;
    bottom: 0;
    width: 600px;
    height: 150px;
    background-color: var(--color-asphalt);
}

.road__border{
    height: 13px;
    width: 600px;
    background-color: var(--color-asphalt-border);
}

.road__border-light{
    height: 4px;
    width: 600px;
    background-color: var(--color-asphalt-border-light);
}

.road__marks{
    position: absolute;
    display: flex;
    justify-content: space-between;
    height: 10px;
    width: 1270px;
    bottom: 38px;
    overflow: hidden;
    /* animation: road-move 5s linear 0 infinite normal; */
    animation: 2s linear 0s infinite normal paused road-move;
}

.road__mark{
    width: 66.36px;
    height: 100%;
    background-color: var(--color-asphalt-border-light);
    transform: skewX(-20deg);
}

@keyframes road-move{
    1% {
        transform: translateX(0px);
    }
    100% {
        transform: translateX(-600px);
    }
}