:root{
    --color-sky: #7cc2ff;
    --color-grass: green;
    --colot-sun: #FFD861;
    --color-trunk: #361d01;
    --color-trunk-light: #6b3900;
    --color-crown: green;
    --color-crown-light: rgb(140, 185, 90);
    --color-mountaine1:rgb(120, 120, 120);
    --color-mountaine2:rgb(176, 176, 176);
    --color-mountaine3:rgb(205, 205, 205);
}

.scene{
    position: absolute;
    top: 0;
    width: 600px;
    height: 250px;
    background-color: var(--color-sky);
}

.scene__grass{
    position: absolute;
    bottom: 0;
    height: 20px;
    width: 600px;
    background-color: green;
}

.scene__sun{
    position: absolute;
    right: 30px;
    top: 30px;
    height: 100px;
    width: 100px;
    border-radius: 50%;
    background-color: var(--colot-sun);
}

/* ----------------------------------trees------------------------------------------ */

.scene__tree1{
    position: absolute;
    right: -200px;
    bottom: 0;
    animation: 8.5s linear 10s infinite normal paused tree-move;
}

.scene__tree2{
    position: absolute;
    right: -200px;
    bottom: 0;
    animation: 15.5s linear 6s infinite normal paused tree-move;
}

.scene__tree3{
    position: absolute;
    right: -200px;
    bottom: 0;
    animation: 19.5s linear 8s infinite normal paused tree-move;
}

.tree__scale3{
    transform-origin: bottom;
    transform: scale(0.5); 
    height: 100%;
    width: 100%;
}

.tree__scale2{
    transform-origin: bottom;
    transform: scale(0.6); 
    height: 100%;
    width: 100%;
}

.tree{
    height: 200px;
    width: 120px;
    /* background-color: rgba(0, 0, 0, 0.2); */
}

.tree__trunk{
    position: absolute;
    right: 52px;
    bottom: 0;
    width: 16px;
    height: 180px;
    background-color: var(--color-trunk);
    overflow: hidden;
}

.tree__trunk-light{
    position: absolute;
    right: 0px;
    bottom: 0;
    width: 5px;
    height: 180px;
    background-color: var(--color-trunk-light);
}

.tree__crown{
    position: absolute;
    top: 0;
    width: 120px;
    height: 120px;
    border-radius: 50px 50px 20px 20px;
    background-color: var(--color-crown);
    overflow: hidden;
}

.tree__crown-light{
    position: absolute;
    top: 0px;
    right: -80px;
    width: 120px;
    height: 120px;
    border-radius: 20px 20px;
    background-color: var(--color-crown-light);
}

@keyframes tree-move{
    1% {
        transform: translateX(0px);
    }
    100% {
        transform: translateX(-2900px);
    }
}

/* ----------------------------------scent__bush---------------------------------------- */

.scent__bush1{
    position: absolute;
    right: -300px;
    bottom: 0;
    height: 100px;
    width: 100px;
    animation: 6.5s linear 10s infinite normal paused bush-move;
}

.scent__bush2{
    position: absolute;
    right: -300px;
    bottom: 0;
    animation: 16.5s linear 1s infinite normal paused bush-move;
}

.scent__bush3{
    position: absolute;
    right: -300px;
    bottom: 0;
    animation: 20.5s linear 4s infinite normal paused bush-move;
}

.bush__scale2{
    transform-origin: bottom;
    transform: scale(0.6); 
    height: 100%;
    width: 100%;
}

.bush__scale3{
    transform-origin: bottom;
    transform: scale(0.5); 
    height: 100%;
    width: 100%;
}

.bush{
    height: 100px;
    width: 120px;
}

.bush__el1{
    position: absolute;
    bottom: 0;
    width: 120px;
    height: 70px;
    border-radius: 30px;
    background-color: var(--color-crown);
    overflow: hidden;
}

.bush__el1-light{
    position: absolute;
    bottom: 50px;
    right: -20px;
    width: 120px;
    height: 70px;
    border-radius: 30px;
    background-color: var(--color-crown-light);
}

.bush__el2{
    position: absolute;
    top: 0;
    right: 40px;
    width: 70px;
    height: 70px;
    border-radius: 400px;
    background-color: var(--color-crown);
    overflow: hidden;
}

.bush__el2-light{
    position: absolute;
    bottom: 20px;
    right: -10px;
    width: 30px;
    height: 70px;
    border-radius: 30px;
    transform: rotate(-45deg);
    background-color: var(--color-crown-light);
}

@keyframes bush-move{
    1% {
        transform: translateX(0px);
    }
    100% {
        transform: translateX(-2900px);
    }
}

/* -------------------------------------scene__mountaines------------------------------------ */

.scene__mountaines{
    position: absolute;
    bottom: 0;
    right: -100px;
    height: 65%;
    width: 400px;
    overflow: hidden;
    animation: 180s linear 0s infinite normal paused mountaine-move;
}

.scene__mountaine1{
    position: absolute;
    right: 110px;
    top: 50px;
}

.scene__mountaine2{
    position: absolute;
    right: 210px;
    top: 105px;
}

.scene__mountaine3{
    position: absolute;
    right: 10px;
    top: 80px;
}

.mountaine{
    position: absolute;
    height: 200px;
    width: 200px;
    transform: rotate(45deg);
    background-color: var(--color-mountaine2);
    overflow: hidden;
}

.mountaine2{
    background-color: var(--color-mountaine1);
}

.mountaine3{
    background-color: var(--color-mountaine3);
}

.mountaine-up{
    position: absolute;
    top: -140px;
    left: -140px;
    height: 200px;
    width: 200px;
    transform: rotate(-45deg);
    background-color: rgb(255, 255, 255);
}

.mountaine-up2{
    top: -160px;
    left: -160px;
}
.mountaine-up3{
    top: -145px;
    left: -145px;
}

@keyframes mountaine-move{
    0%{transform: translateX(0px);}
    67%{
        transform: translateX(-900px);
        opacity: 1;
    }
    68%{
        transform: translateX(-900px);
        opacity: 0;
    }
    69%{
        transform: translateX(400px);
        opacity: 0;
    }
    70%{
        transform: translateX(400px);
        opacity: 1;
    }
    100%{transform: translateX(0px);}
}
