:root{
    --color-outline-wheel: #38181b;
}

.wheel-left{
    position: absolute;
    bottom: -18px;
    left: 24px;
    z-index: 11;
}

.wheel-right{
    position: absolute;
    bottom: -18px;
    right: 24px;
    z-index: 11;
}

.wheel{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 75px;
    width: 75px;
    background-color: var(--color-outline-wheel);
    border-radius: 50%;
    animation: 1.1s linear 0s infinite normal paused wheel-move;
}

.wheel__rim{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 45px;
    width: 45px;
    border-radius: 50%;
    border: 2px solid #cdcdcd ;
    background-color: #979797;
    overflow: hidden;
}

.wheel__rim-el1,
.wheel__rim-el2,
.wheel__rim-el3,
.wheel__rim-el4{
    position: absolute;
    top: calc(50% - 2.5px);
    height: 5px;
    width: 50px;
    background-color: #cdcdcd;
}

.wheel__rim-el2{
    transform: rotate(45deg);
}

.wheel__rim-el3{
    transform: rotate(90deg);
}

.wheel__rim-el4{
    transform: rotate(135deg);
}

@keyframes wheel-move{
    1% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}